/*新建标签按钮大小*/
#TabsToolbar .toolbarbutton-1>.toolbarbutton-icon {
  padding: 6px !important;
  width: 28px !important;
  height: 28px !important;
  border-radius: 50% !important;
}

/*工具栏圆角
 .toolbarbutton-1:hover {
	fill: #24d131 !important;
  border-radius: 20px !important;
}*/

/*标签关闭按钮
  .tab-close-button {
	background: none !important;
  }

  .close-icon:hover {
	fill: #FF0000 !important;	
  }*/