/*新建标签按钮大小*/
#TabsToolbar .toolbarbutton-1>.toolbarbutton-icon {
  padding: 6px !important;
  width: 28px !important;
  height: 28px !important;
  border-radius: 50% !important;
}
/*地址栏图标更换*/
#identity-box[pageproxystate="valid"].chromeUI #identity-icon {
  list-style-image: url(chrome://mozapps/skin/extensions/line.svg) !important;
}
//view图标
//#firefox-view-button {
//  list-style-image: url(chrome://mozapps/skin/extensions/line.svg)!important;
//}
/*标签图标
.tab-icon-image
 {
 content: url("chrome://mozapps/skin/extensions/line.svg")!important;
}*/
/*工具栏圆角
 .toolbarbutton-1:hover {
	fill: #24d131 !important;
  border-radius: 20px !important;
}*/

/*标签关闭按钮
  .tab-close-button {
	background: none !important;
  }

  .close-icon:hover {
	fill: #FF0000 !important;	
  }*/
/*标签下拉按钮
 #tabbrowser-tabs ~ #alltabs-button {display:none!important;}*/
