:root {
  --urlbar-icon-border-radius: 25px !important;
	--toolbarbutton-border-radius: 25px !important;
	--tab-border-radius: 25px !important;
	--arrowpanel-menuitem-border-radius: 25px !important;

	
	--newtab-search-icon:url(chrome://global/skin/icons/search-glass.svg) !important;
}