/*:root {
	--caption-min-color: 250, 189, 47;
	--caption-max-color: 131, 165, 152;
	--caption-close-color: 211, 134, 155;
	}*/
	:root {
		--accent-color: 46, 124, 238;
		--caption-min-color: 36, 209, 49;
		--caption-max-color: 252, 185, 15;
		--caption-close-color: 250, 55, 55;
	}
		
	.titlebar-button {
		padding: 8px 10px !important;
	  background: rgba(var(--dark-color), 1) !important;
	}
	.titlebar-button.titlebar-close {padding-right: 26px !important;}
	.titlebar-button > .toolbarbutton-icon {
		list-style-image: none;
		border-radius: 10px;
	  }
	.titlebar-button.titlebar-min > .toolbarbutton-icon {background: rgba(var(--caption-min-color), 1); }
	.titlebar-button.titlebar-max > .toolbarbutton-icon,
	.titlebar-button.titlebar-restore > .toolbarbutton-icon {background: rgba(var(--caption-max-color), 1); }
	.titlebar-button.titlebar-close > .toolbarbutton-icon {background: rgba(var(--caption-close-color), 1); }
	
	.titlebar-button:hover > .toolbarbutton-icon {background: rgba(var(--accent-color),1)}